.nav-container{
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
header div a{
  text-decoration: none;
  margin-right: 10px;
  color: black;
  font-size: 15px;
  font-weight: 700px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.login-container{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.login-form{
  display: flex;
  flex-direction: column;
  width: 50%;
}
h2{
  text-transform: capitalize;
}
.login-form input{
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 18px;
}
.login-form input[type="submit"]{
  color: white;
  background-color: goldenrod;
  border: none;
  border-radius: 10px;
}
